.panelAll {
	--aniDur: 700ms;
	--lowOpacity: 0.05;
	--highOpacity: 1.00;
}

.panelPrimary {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	line-height: 0.85em;
	font-family: 'Raleway';
	letter-spacing: -1.5px;
	font-weight: 600;
	animation-name: panelPriIn;
	animation-duration: var(--aniDur);
}

.panelSecondary {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	line-height: 0.85em;
	//font-family: 'adobe-garamond-pro';
	letter-spacing: -0.2px;
	font-weight: 400;
	font-style: italic;
	animation-name: panelSecIn;
	animation-duration: var(--aniDur);
}

@keyframes panelPriIn {
	from {
		transform: translate(0px, -15px);
		opacity: var(--lowOpacity);
	}
	to {
		transform: translate(0px, 0px);
		opacity: var(--highOpacity);
	}
}

@keyframes panelSecIn {
	from {
		transform: translate(0px, 15px);
		opacity: var(--lowOpacity);
	}
	to {
		transform: translate(0px, 0px);
		opacity: var(--highOpacity);
	}
}