.tileBox {
    --myOpacity: 0.20;
    --mySize: 75%;
    --myFilter: grayscale(100%);
    --myDur: 300ms;
	position: relative;
    box-shadow: 0 2px 3px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.25);
    transition: box-shadow 170ms ease-in;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', Lato, Helvetica Neue, sans-serif; 
    overflow: hidden;

}

.tileBox:hover {
    --myOpacity: 0.27;
    --mySize: 76%;
    --myFilter: grayscale(0%);
	box-shadow: 0 7px 10px rgba(0,0,0,0.32), 0 3px 6px rgba(0,0,0,0.28);
	//position: relative;
	//top: -1px;
}

.tileTitle {
	font-weight: 600;
}

.tileContent {

}


.bgImgOriginal {
    opacity: var(--myOpacity);
    background-size: var(--mySize);
    filter: var(--myFilter);
    -webkit-filter: var(--myFilter);
    transition: opacity var(--myDur) ease-in, 
                background-size var(--myDur) ease-in, 
                filter var(--myDur) ease-in, 
                -webkit-filter var(--myDur) ease-in;
}

/*

.bgImgFocus {
    animation-duration: var(--animationDuration);
    animation-name: bgImgFocusAni;
    opacity: var(--focusOpacity);
    background-size: var(--bgFocusSize);
    filter: none;
    -webkit-filter: none;
}

.bgImgUnfocus {
    animation-duration: var(--animationDuration);
    animation-name: bgImgUnfocusAni;
    opacity: var(--unfocusOpacity);
    background-size: var(--bgUnfocusSize);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

@keyframes bgImgFocusAni {
    from {
        opacity: var(--unfocusOpacity);
        background-size: var(--bgUnfocusSize);
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
    to {
        opacity: var(--focusOpacity);
        background-size: var(--bgFocusSize);
        filter: none;
        -webkit-filter: none;
    }
}

@keyframes bgImgUnfocusAni {
    from {
        opacity: var(--focusOpacity);
        background-size: var(--bgFocusSize);
        filter: none;
        -webkit-filter: none;
    }
    to {
        opacity: var(--unfocusOpacity);
        background-size: var(--bgUnfocusSize);
        filter: grayscale(100%);
        -webkit-filter: grayscale(100%);
    }
}
*/