<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="SitePoint">
<!-- vue cdn script <script src="https://unpkg.com/vue"></script> -->
  <script src="https://unpkg.com/vue"></script>
<!-- styles here -->
<style type="text/css">
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

body {
	font-family: 'Noto Sans', sans-serif;
}

</style>

</head>

<body>
<!-- body here -->
	<div class="wrapper"> 
		<div class = "header"> tetris game</div>

		<div id="app"> </div>
	</div>

<!-- scripts here -->
	<script src="/static/tetris.js"></script>
</body>

</html>