.sectionAll {

}

.projectTileSection {
	display: grid;
	
}

.educationTileSection {
	//display: flex;
	//flex-direction: column;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.sectionSubtitles {
	width: 100%;
	text-align: center;
	margin: 15px;
	font-family: 'Raleway';
	font-size: 43px;
}

.sectionSeparation {
	width: 100%;
	height: 20px;
}

.basicContactInfo {
	font-family: 'Raleway';
	font-size: 20px;
}


