.sectionAll {

}

.projectTileSection {
	display: grid;
	
}

.educationTileSection {
	//display: flex;
	//flex-direction: column;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.sectionSubtitles {
	width: 100%;
	text-align: center;
	margin: 15px;
	font-family: 'Raleway';
	font-size: 43px;
}

.sectionSeparation {
	width: 100%;
	height: 20px;
}

.basicContactInfo {
	font-family: 'Raleway';
	font-size: 20px;
}

.cachedImgs {
	width: 0px;
	height: 0px;
	overflow: hidden;
	position: absolute;
}

.dclsContainer {
	display: flex;
	flex-direction: column;
	font-family: 'Raleway';
	font-size: 22px;
}

.dclsLine {
	display: grid;
	grid-template-columns: 15fr 16fr;
	margin: 3px;
	margin-bottom: 5px;
}

.dclsTitle {
	text-align: right;
	margin-right: 20px;
	font-weight: 600;
}

.dclsContents {
	text-align: left;
	display: flex;
	flex-direction: column;
}

.dclsLink {

}

.dclsLink:hover {
	color: #0d2481;
	font-weight: 600;
}

