
.navbarAll {
    position: absolute;
    font-family: 'Raleway';
    // background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 130%); 
    // box-shadow: 0 4px 8px rgba(0,0,0,0.20), 0 1px 3px rgba(0,0,0,0.28);
    //-webkit-backdrop-filter: blur(2px);
}

.navbarBanner {
	min-width: 100%;
	position: absolute;
	display: flex;
	flex-direction: row;
}

.navOption {
	position:absolute;
	text-align: center;
	transition: font-weight 100ms;
}

.navOption:hover {
	font-weight: 700;
	cursor: pointer;
}


.navLastName {
	font-weight: 700;
	margin-left: 2px;
}

.navNames {
	//text-shadow: 0 0px 5px rgba(255,255,255,0.40);
	margin-left:30px;
}

